/* LOGIN FORM CONTAINER */
.login-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  /* grid-template-rows: repeat(2, auto); */
  gap: 10px; /* Adjust the gap between grid items */
}

/* LOGIN FORM LABEL */
.login-form label, #loginsignupbutton {
  grid-column: 1; /* First column */

}

/* LOGIN FORM TEXT INPUT */
.login-form input, #loginsubmitbutton {
  grid-column: 2; /* Second column */
}






* {
  /* outline: 1px dashed red; */
  text-align: center;
  color: rgb(223, 226, 226);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: #243b55;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
  align-items: center;
}

nav a {
  background-color: rgb(153, 77, 50);
  color: rgb(223, 226, 226);
  border: firebrick;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 18x;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #218838;
}

.active {
  background-color: pink;
}

button {
  background-color: rgb(153, 77, 50);
  color: white;
  padding: 3px 15px;
  font-size: 18x;
  border: firebrick;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

button:hover {
  background-color: #218838;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-width: 22%;
}

/* EVENT PAGE */

/* Table showing guests and food items they are bringing */

#food-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.food-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.guest-food {
  flex-basis: 50%;
  align-self: right;
  align-content: center;
  text-align: right;
}

.change-delete {
  flex-basis: 50%;
  align-self: left;
  text-align: left;
  flex-direction: row;
  flex-wrap: nowrap;
}

.change-delete > form {
  display: inline-block;
  padding: 3px 0px 3px 10px;
  margin-right: 0px;
}

.change-delete > form > input {
  width: 100px;
}

/* form for adding additional item to food table */
#add-food-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#add-food-container label {
  grid-column: 1;
  text-align: right;
}

#add-food-container input, #add-food-button {
  grid-column: 2;
  width: 200px;
  margin-left: 0px;
}

#familyMemberId {
  width: 200px;
}


#familyMemberId option, input, select {
  color: black;
}